 <button style="background-color:rgb(234,254,255);color:#666;font-family:BantoSans;" class = "expand" {{action "toggleBody"}}>Add a new List</button>
  {{#if isShowingBody}}
  
  <div style="display: block; visibility: visible;" class="reveal-modal small open popup " data-reveal="">
 	<form class="form-horizontal" {{action "save" on="submit"}}>
  {{#if listSaveFailed}}
    <div class="alert">Not Saved.</div>
  {{/if}}
  
  {{#if isSlowConnection}}
    <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
  {{/if}}
  <div style="margin-bottom:20px;font-weight:bold;font-family:Georgia;">Add a new list</div>
  <div class="control-group">
    <div class="control-label">
      <label style="font-family:Georgia;color:#aaa;">Name of the list</label>
    </div>
    <div class="controls">
      {{input value=name type="text"}}
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <label style="font-family:Georgia;color:#aaa;">Entities</label>
    </div>

	{{#each entities}}  
    <div style="margin-top:5px;">
    <span style="font-size:0.9em;font-family:Georgia;color:#666;font-weight:bold;">{{name}}</span>   
    <span style="float:right;"><a {{action "removeEntity" this}}>&#215</a></span> 
    </div>
  {{/each}}
  <br>
      {{lsearch-container entities=entities}}
            
  </div>
	<button class = "popup_buttons tiny" style="float:right;padding:10px;"  type="submit" {{bind-attr disabled="isProcessing"}}>Save!</button>
</form>
 
  <a class="close-reveal-modal" {{action "toggleBody"}}>×</a>
  </div> 
  {{/if}}