 <span style="font-size:0.9em;color:#bbb;margin-right:10px;"><a {{action toggleBody}}>Report</a></b></span>
  {{#if isShowingBody}}
  
  <div style="display: block; visibility: visible;" class="reveal-modal small open popup " data-reveal="">
 	{{#if saved}}
    <div class="alert">Your Request was submitted </div>
   {{else}} 
  <form class="form-horizontal" {{action "save" on="submit"}}>
  {{#if reportSaveFailed}}
    <div class="alert">Report is not submitted!</div>
  {{/if}}
  
  {{#if isSlowConnection}}
    <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
  {{/if}}

  <div class="control-group">
    <div class="control-label">
      <label>Reason</label>
    </div>

    <div class="controls">
    	{{textarea value = reason}}	
    </div>
  </div>
	  <button type="submit" {{bind-attr disabled="isProcessing"}} class="popup_buttons tiny" style="padding:10px;">Submit</button>
</form>
  {{/if}}
   
  <a class="close-reveal-modal" {{action "toggleBody"}}>×</a>
  </div> 
  {{/if}}