
  {{#ifneq controller.tile.length 0}}
  <div class="panel contentcard card"> 
    

      <div style="border-bottom:1px solid #aaa;padding-bottom:5px;margin-bottom:5px;font-size:1.2em;color:#888;">{{controller.tile.length}} knowledge item</div>

    <div >
        {{#ifeq controller.item "articl"}}
        {{#ifneq tile_nodes.length 1}}
        <div class="row"><div style="float:right;"><button class="tiny" onclick='mySwipe.prev()'><</button> <button class="tiny" onclick='mySwipe.next()'>></button></div></div>
          <div id='mySwipe' style='margin:0 auto' class='swipe'><div class='swipe-wrap'>  
        {{/ifneq}}
        {{/ifeq}}
      {{#each controller.tile}}
          <div class="panel text_content">
          
          {{#ifeq node.type "/dqs/not assigned"}}
            <div style="font-size:0.9em;"><span style="font-weight:bold;">{{{node.author}}}</span> added a <span style="font-weight:bold;">{{{node.property}}}</span> for review.</div>
          {{/ifeq}}
                      
          {{#ifeq node.type "/dqs/webpage"}}
            <div class="articleheading">{{{node.title}}}</div>
            <div class="viewsource"><div style="float:right;"><a {{bind-attr href=node.url}} target="_blank">View source</a></div></div>
          {{/ifeq}}
          <br>
            {{{node.cache}}}      

          {{#ifeq node.in_type "url"}}
              {{{node.url}}}
          {{/ifeq}}

          {{#ifeq node.type "/dqs/videopage"}}
            <div><iframe width="520" height="300"{{bind-attr src= node.url}}></iframe></div>
          {{/ifeq}}

          {{#ifeq node.out_type "image"}}
            <div><img  {{bind-attr src= node.url}} style="width:400px;height:300px;"></img></div>
          {{/ifeq}}

          <div style="padding-top:15px;padding-bottom:5px;">
            {{#ifeq node.review_status 'merged'}}
            <span style="font-size:0.9em;color:#888;float:left;">Added by <b>{{node.author}}</b></span>
          {{/ifeq}}

          {{#ifneq node.url ""}}
              <span style="float:right;font-size:0.9em;margin-right:5px;"><a {{bind-attr href=node.url}} target="_blank">View source</a></span>
          {{/ifneq}}
          {{report-container entity = node._id.$oid user=controller.currentUser}}
          
          </div>
          
        
          </div>
        {{/each}}
     {{#ifeq controller.item "articl"}}{{#ifneq tile_nodes.length 1}}
        </div></div>{{/ifneq}}{{/ifeq}}
      
    </div>
  </div>   
  {{/ifneq}}

