<div class="panel card commitcard" id="commitform ">
   {{#view App.CommitFormView}}
  {{#if view.notFilled}}
  <div class="send_form" >
  <div class="commitformtext" >Add Property. Ex:- Description, video, article etc. 
  </div> 
  <br>
  <hr>
  <br>
 {{view Ember.TextField value=view.property}} 
   
{{#view App.CommitTypeView}} 
	<div class="commitformtext">What would you like to add!</div>
	<br>
	<hr>
	<br>
    <input type="radio" name="type_of_commit" value="url"> I want to suggest a resource 
	<input type="radio" name="type_of_commit" value="imm_content"> I want to write myself
{{/view}}
	 <div class="commit_fields" id="commit_imm_content">
	 <div class="commitformtext">Your Content:</div><br>
	
      {{editor-container content=view.content }}
      <br>
    <button class ="small radius" type="submit" {{action "submit" target=view}} {{bind-attr disabled=view.emptycontent}}>Done</button>
	<div class="commitformtext">Preview:</div> 
	</br></br>
	<div class="text_content">	{{{view.content}}} </div>
    </div>
    <div class="commit_fields" id="commit_url">
	 
	<div class="commitformtext">URL for your resource:</div><br>
    {{view Ember.TextField value=view.resourceUrl}}
    <button class="small radius" type="submit" {{action "submit" target=view}} {{bind-attr disabled=view.emptyurl}}>Done</button>

	</div>
	
  </div>
  {{/if}}
  {{#if view.isSlowConnection}}<div class="commitformtext">It is taking loger than usual...</div>
  {{else}}
  {{#if view.isProcessing}}<div class="commitformtext">Commiting your information ...</div>{{/if}}
  {{/if}}
  {{#if view.submitFailed}}Your commit Failed :( {{/if}}
  
  {{#if view.successfully_saved}}
  	<div class="commitformtext">Congrats, Your commit has been saved and will be reviewed by the repository maintainer soon, you can see it in the review section :)</div><br>
    <button class="small radius" {{action "resetfields" target=view}}>Add more!</button>
   {{/if}}
	{{#if view.empty}}This is empty please write something to submit{{/if}}
  {{/view}}
</div>