<br>
<br>

<div class="row">
	<div class="small-12 large-3 columns">
		<div style="font-family:BantoSans;margin-bottom:20px;font-size:1.3em;font-weight:bold;">{{currentUser.name}}
		</div>
		<div><a class="th [radius]" href="#"> <img src="http://1.gravatar.com/avatar?size=160px"> </a></div>
	</div>
  <div class="small-12 large-9 columns">
  <div class="row" style="margin-top:30px;">
	<h4>Duples</h4>
	<hr><br>
	{{#each model.duples}}
	{{duple-container name=name value=value}}
	{{/each}}
	
	{{duplecreate-container currentUser = currentUser}}
  </div>

  <div class="row" style="margin-top:30px;">
	<h4>Entities</h4>
	<hr>
	{{#each model.spaces}}
	<br>
	<br>
	<div style="border:1px solid #d8d8d8;padding:10px;border-radius:3px;">
	<div style="margin-bottom:4px;font-weight:bold;margin-bottom:6px;font-family:BantoSans;">{{name}}</div>
	<div style="font-family:BantoSans;font-size:0.8em;color:#aaa;">{{short_desc}}</div>
	<br>
	{{#each duples}}
	{{duple-container name=name value=value}}
    {{/each}}
	{{duplecreate-container currentUser = currentUser space_id = _id}}
	</div>
	{{/each}}
	
  </div> 
  </div>
