 <ul class="off-canvas-list"> 
	<li style="height: 60px;"><a href="#">
		<span class="nav_icon nav_icon_user"></span><span style="line-height: 40px;"><%=current_user.name%></span>
		</a>
	</li> 
	<li><a href="#/repo"><span class="nav_icon nav_icon_repo"></span>Repositories</a></li> 
	<li><a href="#/list"><span class="nav_icon nav_icon_flow"></span>Lists</a></li> 
	<li><a href="#"><span class="nav_icon nav_icon_rlist"></span>Reading List</a></li> 
	<li><a href="#"><span class="nav_icon nav_icon_contri"></span>Contributions</a></li>
	<li></li> 
</ul>
	
<style>
.nav_icon_user{
background:url(http://graph.facebook.com/<%=current_user.uid%>/picture?height=32&width=32) left top;

}
.left-panel{
	background-color: #efefef;
	height: 100%;
}
.nav_icon
{ 
   width:20px; 
   height:20px;
   margin: 3px;
   margin-right: 16px;
   display: block;
   float: left;
}
.nav_icon_repo{
background: url(<%= asset_path 'repo.png' %>) left top;
}
.nav_icon_flow{
background: url(<%= asset_path 'flow.png' %>) left top;
}
.nav_icon_contri{

background: url(<%= asset_path 'contri.png' %>) left top;
}
.nav_icon_rlist{
background: url(<%= asset_path 'read.png' %>) left top;
}
.nav_icon_user{
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px; 	
}

</style>
