<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<title><%= Daqwest %></title>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
 <%if current_user%>
 <%if current_user.has_access%>
<script type="text/javascript">
 	window.anand_hash= <%=current_user.to_json.html_safe%>;
    window.anand_hash['uimage_s'] = "http://graph.facebook.com/"+window.anand_hash.uid+"/picture?height=32&width=32";
    window.anand_hash['uimage_b'] = "http://graph.facebook.com/"+window.anand_hash.uid+"/picture?height=160&width=160";
</script>
<div class="page">
<script type="text/x-handlebars" >
				
<div class="off-canvas-wrap" data-offcanvas> 
	<div class="inner-wrap"> 
		<div class="row" data-topbar> 		
 			<div class="small-2 columns" style="padding-left:0px">
			    		    <a class="left-off-canvas-toggle menu-icon" href="#">
	 		    		 	<img class="logo_image" src=<%= asset_path 'sidenavopen.png' %>>
	 		    		 	</a>
	 		 </div>					
    		<div class="large-5 medium-7 small-10 columns" style="padding:8px;"> 
    						{{search-container}}    					
    		</div>
    		<div class="large-2 hide-for-small-only columns" style="padding:8px;"> 
    				    					
    		<div><a href="#" data-reveal-id="mission" class="button tiny"style="font-weight:bolder;font-family:sans-serif;background-color:#2DAEBF">Mission</a></div>

    		<div id="mission" class="reveal-modal popupmission" data-reveal> 
    		<%= render "basic/mission" %> 
    		
    		 <a class="close-reveal-modal">&#215;</a> </div>			
    		</div> 
    					
					  
		</div> 
		<aside class="left-off-canvas-menu"> 
		{{partial "partials/sidenav"}}
		</aside> 
		 
		 <section class="main-section"> 
		 	<div class="row">
				<div class="small-12 large-10 large-offset-1 collumns ember-root-class">
	
				<div id="content_yield">
				
					{{outlet}}
					{{feedback-container user=currentUser isShowingBody=showingFeedback}}
    				<%= yield %>
    			
				</div>
			</div>
			
			</div>
		 	<!-- content goes here --> </section> 
		 <a class="exit-off-canvas"></a> 
		</div> 
</div>
<div class= "reveal-modal-bgn" style="display:none;"></div>	
</script>
</div>
    <%= javascript_include_tag "application" %> 
<%else%>
<div class="row" style="margin-top:100px;">
<div class="small-12 large-6 large-offset-3 panel callout collumns ember-root-class">
	Hi <%=current_user.name%>, </br>You are in our invite list, we will soon be giving you access!
	</br>
	</br>
	<a href="/signout">Signout</a>
</div></div>
    <%= javascript_include_tag "without_login" %> 

<%end%>
<%else%>
	
<div class="row" style="text-align: center"><img src=<%= asset_path('dqtagcloud.png') %> style="width: 700px;margin:60px;"></img></div>

<div class="row" style="text-align: center">

<a href="/auth/facebook"><span class="fb_login" style="margin-left:42%"></span></a>

</div>
 <%= javascript_include_tag "without_login" %> 	
<%end%>
  </body>
</html>