<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= Kuesuto %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%if current_user%>
<div class="row" style="text-align: center"><img src=<%= asset_path('dqtagcloud.png') %> style="width: 700px;margin:60px;"></img></div>
<div class="row" style="text-align: center">
<a href="/auth/facebook"><span class="fb_login" style="margin-left:42%"></span></a>
	</div>

<%else%>
<div class="row root_row" >
	<div class="large-3 medium-4 columns show-for-medium-up side-nav left-panel">
		<%= render "/layouts/side_nav"%>
	</div>
	<div class="large-9 medium-8 columns main_container">
		<div class="row">
<div class="large-8 medium-8 columns">
<form accept-charset="UTF-8" action="/search" method="get">
<div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
   <div class="raw collapse">
    <div class="large-10 medium-8 columns">
      <input id="search" name="q" value="Search" type="text">
	 
      </div>
        </div>
</form>
</div>
<div class="large-2 medium-3 columns">
  <a href="/signout" style="color:#666;line-height: 20px">  <span class="signout"></span>Sign out</a>
</div>
</div>
<div id="content_yield">
    <%= yield %>
</div>

</div>

		
		
	
</div><!--row class-->    
<%end%>
    <%= javascript_include_tag "application" %>
  </body>
</html>
