<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<title><%= Kuesuto %></title>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
 <%if current_user%>
<script type="text/javascript">
 	window.anand_hash= <%=current_user.to_json.html_safe%>;
    window.anand_hash['uimage_s'] = "http://graph.facebook.com/"+window.anand_hash.uid+"/picture?height=32&width=32";
    window.anand_hash['uimage_b'] = "http://graph.facebook.com/"+window.anand_hash.uid+"/picture?height=160&width=160";
</script>
<div class="page">
<script type="text/x-handlebars" >
				
<div class="off-canvas-wrap" data-offcanvas> 
	<div class="inner-wrap"> 
		<nav class="top-bar" data-topbar> 		
			 <ul class="title-area">
				    <li class="name">
			    		    <a class="left-off-canvas-toggle menu-icon" href="#">
	 		    		 	<img class="logo_image" src=<%= asset_path 'sidenavopen.png' %>>
	 		    		 	</a>
	 			   </li>
     		   <li class="toggle-topbar menu-icon " ><a href="#" style="background-color:#333"></a></li>
  			</ul>
 			
  			<section class="top-bar-section">
				<ul class="left" style="min-width:75%">
      				
    				<li class="has-form" style="min-width:80%"> <div class="row collapse"> 
    					<div class="large-8 small-9 large-offset-2 columns"> 

    						{{search-container}}
    					
    					
    					</div> 
    					<div class="large-2 small-3 columns end"> 
    						<a href="#" class="button expand" style="background-color:#888">Search</a> 
    					</div> 
    					</div> 
    				</li>
					    			
    			</ul>
			</section>
		</nav> 
		<aside class="left-off-canvas-menu"> 
		{{partial "partials/sidenav"}}
		</aside> 
		 
		 <section class="main-section"> 
		 	<div class="row">
				<div class="small-12 large-10 large-offset-1 collumns ember-root-class">
	
				<div id="content_yield">
				
					{{outlet}}
    				<%= yield %>
    			
				</div>
			</div>
			
			</div>
		 	<!-- content goes here --> </section> 
		 <a class="exit-off-canvas"></a> 
		</div> 
</div>
<div class= "reveal-modal-bg" style="display:none;"></div>	
</script>
</div>

<%else%>
	
<div class="row" style="text-align: center"><img src=<%= asset_path('dqtagcloud.png') %> style="width: 700px;margin:60px;"></img></di>

<div class="row" style="text-align: center">

<a href="/auth/facebook"><span class="fb_login" style="margin-left:42%"></span></a>

</div>
	
<%end%>


    <%= javascript_include_tag "application" %>

 
  </body>
</html>
